



.jobText {
  position: relative;
  margin-top: 100px;
  /* font-size: 20px; */
  /* text-shadow: 2px 1px #a0a0a0 ; */
  font-weight: 500;
  font-family: RobotoMono;
}

.reverseText {
  position: absolute;
  left: 90%;
  top: 99%;
}
